.carousel-img{
    height: 800px;
}
.name_tovar
{
    color: white;
text-shadow: 1px 0 4px black, 0px 1px 4px black, -1px 0 4px black, 0px -1px 4px black;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 30px;
    padding: 30px;
}
